$foreground-dark: #adbac7;
$background-dark: #22272e;
$tertiary-dark: rgba(99, 110, 123, 0.4);
$accent-dark: #539bf5;

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-dark;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $foreground-dark;

  header {
    nav {
      margin: 0px 25%;
      padding: 1em 0px;
      height: 60px;
      border-bottom: 1px solid lighten($background-dark, 4%);
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;

      a {
        font-size: 120%;
        display: block;
        padding: 14px;
        text-decoration: none;
      }
    }
  }

  main {
    flex: 1;
    padding: 1em 25%;
  }

  @media all and (max-width: 1200px) {
    header nav {
      margin: 0px 15%;
    }

    main {
      padding: 1em 15%;
    }
  }

  @media all and (max-width: 800px) {
    header nav {
      margin: 0px 1em;
    }

    main {
      padding: 1em 1em;
    }
  }

  a {
    overflow-wrap: anywhere;
    word-break: normal;
  }

  a,
  a:link,
  a:visited {
    color: $accent-dark;
  }

  a:hover {
    color: lighten($accent-dark, 10%);
  }

  h1,
  h2,
  h3,
  h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    line-height: 1.3em;
  }

  dl {
    padding-bottom: 1.3em;

    dt:not(:first-child) {
      padding-top: 1.3em;
    }

    dd {
      p {
        margin: 0.6em 0;
      }
    }
  }

  pre {
    overflow: auto;
    padding: 0.5em 0.5em 0.6em;
    border-radius: 0.5em;
    scrollbar-width: thin;

    code {
      padding: 0;
      background-color: transparent;
    }
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0.05em 1em;

    background-color: lighten($background-dark, 1%);
    border-left: 2px solid $tertiary-dark;
    font-size: 95%;
    font-style: italic;
  }

  code {
    padding: 0.2em 0.3em;
    background-color: $tertiary-dark;
    border-radius: 0.3em;
    font-size: 84%;
  }

  img {
    max-width: 100%;
  }

  hr {
    border-color: $tertiary-dark;
  }

  footer {
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    border-top: 1px solid lighten($background-dark, 4%);
    font-size: 65%;
    font-weight: 100;
  }
}

.link-button {
  margin-top: 20px;
  margin-bottom: 0px;

  a {
    text-decoration: none;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  margin: auto;

  img {
    border-radius: 50%;
    border: 1px solid lighten($background-dark, 4%);
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 0 3em;
  gap: 20px;
}

.socialbox {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socialbox:hover {
  box-shadow: 0px 0px 20px 5px darken($background-dark, 6%);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.date {
  color: darken($foreground-dark, 15%);
  font-size: 80%;
}

.svg-icon {
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  top: .125em;
  position: relative;
}

.tags-list {
  color: darken($foreground-dark, 15%);
  font-size: 80%;

  a {
    color: inherit !important;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.post-link {
  text-decoration: none;
}
