$foreground-dark: #adbac7;
$background-dark: #22272e;
$tertiary-dark: rgba(99, 110, 123, 0.4);
$accent-dark: #539bf5;

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-dark;
}

.svg-icon {
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  top: .125em;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $foreground-dark;

  a,
  a:link,
  a:visited {
    color: $accent-dark;
  }

  a:hover {
    color: lighten($accent-dark, 10%);
  }

  h1,
  h2,
  h3,
  h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    line-height: 1.3em;
  }

  blockquote {
    border-left: 2px solid $tertiary-dark;
  }

  code {
    background-color: $tertiary-dark;
    font-size: 85%;
    border-radius: 6px;
  }

  pre code {
    background-color: transparent;
  }
}

main {
  flex: 1;
  padding: 2em 25%;
}

@media all and (max-width: 1200px) {
  main {
    padding: 3em 15%;
  }
}

@media all and (max-width: 800px) {
  main {
    padding: 1em 1em;
  }
}

footer {
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  border-top: 1px solid lighten($background-dark, 4%);
  font-size: 65%;
  font-weight: 100;
}

code {
  padding: 0.2em 0.3em;
  font-size: 12pt;
}

pre {
  overflow: auto;
  padding: 0.3em;

  code {
    padding: 0;
  }
}

img {
  max-width: 100%;
}

hr {
  border-color: $tertiary-dark
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.05em 1em;

  background-color: lighten($background-dark, 1%);
  font-size: 95%;
  font-style: italic;
}

.navbar {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  height: 60px;
  font-size: 120%;
  border-bottom: 1px solid lighten($background-dark, 4%);

  li {
    float: right;
  }

  a {
    display: block;
    padding: 14px;
    text-decoration: none;
  }
}

.link-button {
  margin-top: 20px;
  margin-bottom: 0px;

  a {
    text-decoration: none;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  margin: auto;

  img {
    border-radius: 50%;
    border: 1px solid lighten($background-dark, 4%);
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 0 3em;
  gap: 20px;
}

.socialbox {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socialbox:hover {
  box-shadow: 0px 0px 20px 5px darken($background-dark, 6%);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.date {
  color: darken($foreground-dark, 15%);
  font-size: 80%;
}

.tags-list {
  color: darken($foreground-dark, 15%);
  font-size: 80%;

  a {
    color: inherit !important;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.post-link {
  text-decoration: none;
}