{% macro list_posts(pages, with_years) %}
{% for page in pages %}
<p>
  {% if with_years %}
  <span class="date">{{ page.date | date(format="%B %d, %Y") }}</span>
  {% else %}
  <span class="date">{{ page.date | date(format="%B %d") }}</span>
  {% endif %}
  <span class="tags-list">|
    {% for tag in page.taxonomies["tags"] %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>
    {% if not loop.last %}·{% endif %}
    {% endfor %}
  </span>
  <br>
  <a href="{{ page.permalink | safe }}" class="post-link">{{ page.title }}</a>
</p>
{% endfor %}
{% endmacro %}

{% macro navbar() %}
<ul class="navbar">
  <li><a href="/">Home</a></li>
  <li><a href="/posts">All Posts</a></li>
</ul>
{% endmacro%}