{% import "macros/tools.html" as macros %}

{% extends "base.html" %}

{% block meta_description %}
<meta name="description" content="All my posts for all years">
{% endblock %}

{% block content %}
{{ macros::navbar() }}
<h1 class="title">{{ section.title }}</h1>
{% set_global years_sections = [] %}
{% for year_section_path in section.subsections %}
{% set_global years_sections = years_sections | concat(with=get_section(path=year_section_path)) %}
{% endfor %}
{% for year_section in years_sections | sort(attribute="title") | reverse %}
<h2>{{ year_section.title }}</h2>
{{ macros::list_posts(pages=year_section.pages, with_years=false) }}
{% endfor %}
{% endblock %}