{% import "macros/tools.html" as macros %}

{% extends "base.html" %}

{% block meta_description %}
<meta name="description" content="zummenix's blog where he writes about programming and stuff">
{% endblock %}

{% block content %}
<div class="avatar"><img src="/avatar.jpeg" alt="Avatar" /></div>
<h1>About</h1>
<p>My name is Aleksey Kuznetsov. This is my space where I intend to write mostly
  about iOS development, programming in Swift and Rust. I'm also interested
  in other technologies, psychology and personal growth.</p>
<p>I also keep a <a href="/links">curated list of links</a> that are too valuable
  to lose.</p>
<div class="socials">
  {% for social in config.extra.socials %}
  <a href="{{ social.link | safe }}" class="socialbox">
    <img src="{{ social.icon | safe }}" alt="{{ social.title }}" />
  </a>
  {% endfor %}
</div>
<h1>Latest Posts</h1>
{% set_global years_sections = [] %}
{% set section = get_section(path="posts/_index.md") %}
{% for year_section_path in section.subsections %}
{% set_global years_sections = years_sections | concat(with=get_section(path=year_section_path)) %}
{% endfor %}
{% set_global pages = [] %}
{% for year_section in years_sections | sort(attribute="title") | reverse | slice(end=3) %}
{% set_global pages = pages | concat(with=year_section.pages) %}
{% endfor %}
{% set_global pages = pages | slice(end=3) %}
{{ macros::list_posts(pages=pages, with_years=true) }}
<p class="link-button"><a href="/posts">All Posts →</a></p>
{% endblock %}