{% extends "base.html" %}

{% block meta_description %}
<meta name="description" content="zummenix's blog where he writes about programming and stuff">
{% endblock %}

{% block content %}
<div class="avatar"><img src="/avatar.jpeg" alt="Avatar" /></div>
<h1>About</h1>
<p>My name is Aleksey Kuznetsov. This is my space where I intend to write mostly
  about iOS development, programming in Swift and Rust. I'm also interested
  in other technologies, psychology and personal growth.</p>
<p>I also keep a <a href="/links">curated list of links</a> that are too valuable
  to lose.</p>
<div class="socials">
  {% for social in config.extra.socials %}
  <a href="{{ social.link | safe }}" class="socialbox">
    <img src="{{ social.icon | safe }}" alt="{{ social.title }}" />
  </a>
  {% endfor %}
</div>
<h1>Latest Posts</h1>
{% set section = get_section(path="posts/_index.md") %}
{% set years_sections = [get_section(path=year_section_path) for year_section_path in section.subsections] %}
{% set years_sections = years_sections | sort(attribute="title") | reverse %}
{% set pages = years_sections[0].pages[:3] %}
{% if years_sections | length > 1 and pages | length < 3 %}
  {% set pages = [...pages, ...years_sections[1].pages[:3 - (pages | length)]] %}
{% endif %}
{% if years_sections | length > 2 and pages | length < 3 %}
  {% set pages = [...pages, ...years_sections[2].pages[:3 - (pages | length)]] %}
{% endif %}
{{<blog.post_list pages={pages} />}}
<p class="link-button"><a href="/posts">All Posts →</a></p>
{% endblock %}