{% import "macros/tools.html" as macros %}

{% extends "base.html" %}

{% block meta_description %}
<meta name="description" content="{{ page.description }}">
{% endblock %}

{% block content %}
{{ macros::navbar() }}
<h1>{{ page.title }}</h1>
<p>
  <span class="tags-list">
    {{ macros::tag_icon() }}
    {% for tag in page.taxonomies["tags"] %}
    {{ macros::tag(name=tag) }}
    {% if not loop.last %}·{% endif %}
    {% endfor %}
  </span>
  <br />
  <span class="date">{{ macros::calendar_icon() }}{{ page.date | date(format="%B %e, %Y") }}</span>
</p>
{{ page.content | safe }}
{% endblock %}